@media screen and (min-width:760px){
    .btn-login-criar-conta{
        display: none;
    }
}
@media screen and (max-width:760px){
    
    .inputs{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .criar-conta{
        display: none;
    }
    .blur-box{
        width: 80%;
    }
    h1#logintxt1{
        color: white;
        display: inline-block;
        font-size: 230%;
        font-weight: lighter;
        margin-top: 10%;
    }
    h1#logintxt2{
        color: #4d1489;
        font-size: 230%;
        font-weight: lighter;
        margin-top: 10%;
        display: inline-block;
    }
    input#input1{
    }
    input#input2{
    }
    .input-login{

    }
    div#esqueceu-senha{
        margin-top: 10%;
    }
   
}
@media screen and (max-width:350px){
    .btn-login-criar-conta{
        font-size: 8px;
    }
    h1#logintxt1{
        color: white;
        display: inline-block;
        font-size: 25px;
        font-weight: lighter;
        margin-top: 25px;
    }
    h1#logintxt2{
        color: #4d1489;
        font-size: 30px;
        font-weight: lighter;
        margin-top: 25px;
        display: inline-block;
    }
}